h1 Add a new to do 
form action="/todo" method="post"
input type="text" name="new_todo" placeholder="Titel"
input type="text" name="description" placeholder="Description"
input type="submit" value="Save"