body {
  font-family: sans-serif;
  color: white;
  background-color: rgb(44, 177, 44);
  font-size: x-large;
  margin: 1em;
}

h1 {
  text-align: center;
}

.center {
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: aqua;
  display: flex;
}

.todo {
  background-color: rgb(41, 211, 143);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
}

.todo h2 {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
}