h2 🍎🍍🍌🍐 UPDATE YOUR TODO BRO 🍌🍐🍎🍍

form action="/todos/#{@unique_todos["id"]}/update" method="post"
    input type="text" name="name" value="#{@unique_todos["name"]}"
    input type="text" name="description"
    input type="submit" value="UPDATE YO TODO"